body{
  background: #000;
  color:white;
  overflow:hidden;
}
#main_container{
  display:flex;
  width:90%;
  gap:20px;
  justify-content:space-between;
  margin:auto;
  margin-top:30px
}
#select_city{
  height:30px;

  border:1px solid rgb(224, 221, 221);
  background: #000;;
  color:white;

}
#gym_data{
  width:80%;
  
   height:100vh ;
   box-sizing: border-box;
   overflow:scroll;
   overflow-x:hidden;
  text-align: center;
 scroll-behavior: smooth;
 -ms-overflow-style: none;
 scrollbar-width: none;
}
#gym_data>div{
  
  border:1px solid red;
  border-radius: 10px;
  margin-bottom:10px;
  margin-right: 10px;
}
#gym_data>div>div{
  border:1px solid blue;
  border-radius: 20px;
  width:50%;
  margin:auto;
  margin-bottom:10px
}